/* .inputContainer{
    position: "relative";
    bottom: "0%";
    left: "0%";
    padding: "10px 10px";
    border-top: ".5px solid black";
    background: "green";
    width: "100%";
}
.inputContainer input{
    outline: "none";
    border: "none";
} */